<main>

    <h2>管理者ログイン</h2>
    <%= form_with model: @admin,url: admin_session_path do |f| %>
　　<div class="field">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :パスワード%>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  
  
   <%= f.submit 'ログイン', class: 'btn btn-primary'%>
<%#= link_to "全ての商品を見る", items_path (@item.id) %>
<% end %>
</main>