

<h1>商品一覧</h1>（全<%= @items.count %>件）
<table>
  <thead>
    <% @items.each do |item| %>
      <tr>
       <td>
       <%= link_to item_path(item.id) do %>
       <%= image_tag item.get_profile_image(100,100) %></br>
       <% end %>
       商品名<%= item.name %>
       ￥<%= item.price %>
       </td>
     </tr>
       <% end %>
  </thead>
  <tbody>
   
   
  </tbody>
</table>
<%= paginate @items %>