<h1></h1>

<table>
      
       <tr><td><%= image_tag @item.get_profile_image(100,100) %></td></tr>
       <tr><td>商品名</td><td><%= @item.name %></td></tr>
       <tr><td>商品説明</td><td><%= @item.introduction %></td></tr>
       <tr><td>税込価格（税抜価格）<br></td><td><%= (@item.price*1.1).round %>&emsp;(<%= @item.price%>)円</td></tr> 
                                                                  <!-- to_i-->
</table>
    <%= form_with model: @cart_item do |f| %>
    <%= f.hidden_field :item_id, value: @item.id %><%# 隠れてidをcart_itemモデルに保存%>
    <%= f.select :amount, *[1..10] %>

    <%= f.submit "カートに入れる" %>
    <% end %>
